<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>isucon 2</title>
    <link href="/css/ui-lightness/jquery-ui-1.8.24.custom.css" rel="stylesheet" type="text/css" />
    <link href="/css/isucon2.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui-1.8.24.custom.min.js" type="text/javascript"></script>
    <script src="/js/isucon2.js" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <a href="/"><img src="/images/isucon_title.jpg" /></a>
    </header>
    <div id="sidebar">
    </div>
    <div id="content"><%= yield %></div>
  </body>
</html>
